.page-game-detail .main-content > .container {
    margin: var(--bs-body-font-size) auto;
    background-color: var(--bs-body-bg-alt);
    padding: calc(var(--bs-body-font-size) * 2);
}
@media (min-width: 1400px) {
    .page-game-detail .main-content > .container {
        margin: calc(var(--bs-body-font-size) * 2) auto;
    }
}

/* CONTENT */
.page-game-detail .game-banner {
    margin-bottom: -20%;    
}
.page-game-detail .content {
    display: flex;
    flex-direction: column;
    gap: calc(var(--bs-body-font-size) * 1.5);
    padding: 0 var(--bs-body-font-size);
}
.page-game-detail .game-summary {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}
@media (min-width: 1400px) {
    .page-game-detail .content {
        gap: 60px;
        padding: 0 60px;
        font-size: calc(var(--bs-body-font-size) * 1.5);
    }
}
.page-game-detail .content p {
    margin-bottom: 0;
}
.page-game-detail .content .expand-link {
    display: inline-block;
    position: relative;
    margin-bottom: -10px;
    display: none;
}
.page-game-detail .game-heading .img-thumbnail {
    padding: 0;
    width: 300px;
    display: inline-block;
    border: 2px solid rgba(255, 255, 255, 0.5);
}
.page-game-detail .content .img-fluid {
    width: 100%;
    height: auto;
}
.page-game-detail .content .expand-icon {
    position: absolute;
    left: 10px; bottom: 10px;
}

.page-game-detail .content .game-heading {
    display: flex;
    align-items: center;
    gap: calc(var(--bs-body-font-size) * 2);
    align-self: stretch;
    margin-top: 118px;
}
.page-game-detail .game-heading .game-thumbnail {
    width: 160px;
    height: auto;
    border-radius: 10px;
    border: 2px solid #ffffff;
}
.page-game-detail .game-heading .game-title {
    font-size: 40px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    overflow: hidden;
}

.page-game-detail .content .game-detail h4 {
    color: #787BBE;
    font-weight: 300;
}
@media (min-width: 1400px) {
    .page-game-detail .content .game-detail h4 {
        font-size: 26px;
        margin-bottom: calc(var(--bs-body-font-size) * 2);
    }
}
.page-game-detail .content .game-detail .h2 {
    margin-bottom: 0;
}
.page-game-detail .compatibility .col-auto {
    display: flex;
    align-items: center;
    gap: 10px;
}

.game-detail.language img {
    opacity: 0.5;
    mix-blend-mode: luminosity;
    transition: .25s;
    border-radius: 4px;
    border: 1px solid rgba(0, 0, 0, 0.5);
}

.game-detail.language img:hover {
    opacity: 1;
    mix-blend-mode: normal;
}