/* NEWS */

/* BANNER */
.page-news .main-banner .details {
    display: flex;
    align-items: flex-end;
    gap: var(--bs-body-font-size);
    margin-top: -1.75rem;
}
.page-news .main-banner h1,
.page-news .main-banner p {
    line-height: 1;
    margin-bottom: 0
}
.page-news .main-banner .date,
.page-news .main-banner .date h1 {
    text-align: center;
    color: var(--bs-body-secondary-color);
}

@media (max-width: 1199.98px) {
    .page-news .main-banner .details {display: none}
}

/* CONTENT */
.page-news #main .main-content {
    padding: 0;
    background-color: transparent;
}
.page-news .menu-heading {
    margin-top: 1rem;
    padding: 1.5rem 2rem;
    background-color: var(--bs-body-bg-alt);
}
.page-news .menu-heading .nav-link {
    color: var(--bs-body-secondary-color);
    transition: color 0.3s ease-in-out;
    text-transform: uppercase;
    font-size: 1.25rem;
}
.page-news .menu-heading .nav-link:hover,
.page-news .menu-heading .nav-link.active {
    color: var(--bs-heading-color);
    font-weight: 600;
}

#timeline {
    flex-direction: column;
    align-items: flex-start;
    position: relative;
}
#timeline,
#timeline > article {
    display: flex;
}
#timeline > article {
    align-items: center;
    align-self: stretch;
    padding: var(--bs-body-font-size) 0;
    column-gap: calc(var(--bs-body-font-size) * .75);
    /* Style for filtering */
    opacity: 1;
    transition: opacity 0.3s ease;
}
#timeline > article:nth-child(odd) {
  justify-content: flex-start;
}

#timeline > article:nth-child(even) {
  /* justify-content: flex-end; */
  flex-direction: row-reverse;
}

#timeline::before,
#timeline::after {
    content: '';
    position: absolute;
    top: 0; bottom: 0;
    z-index: -1;
    left: 50%;
    transform: translateX(-50%);
}
#timeline::before {
    width: 200px;
    background-color: var(--bs-body-bg-alt);
}
#timeline::after {
    width: 1px;
    background-color: var(--card-color);
}

#timeline .card {
    border: 0;
    border-radius: 0;
    text-align: center;
    background-color: var(--card-bg);
    transition: .25s;
}
#timeline .card-footer {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 458px;
    padding: var(--bs-body-font-size) calc(var(--bs-body-font-size) * 1.5);
}
#timeline .card:hover {
    font-weight: 500;
    color: var(--bs-accent);
    transform: translateY(calc(var(--bs-body-font-size) * -.5));
    filter: drop-shadow(0 4px 8px rgba(0, 0, 0, 0.25));
}
#timeline .card:hover .card-text {
}
#timeline .card img {
    max-width: 458px;
}
#timeline .date,
#timeline .date h1 {
    text-align: center;
    color: var(--bs-body-secondary-color);
    line-height: 1;
    margin-bottom: 0;
}
#timeline .date h1 {font-size: 4.5rem}

/* `xl` applies to large devices (desktops, less than 1200px) */
@media (max-width: 1199.98px) {
    #timeline .card,
    #timeline .card img {max-width: 368px}
}
/* `lg` applies to medium devices (tablets, less than 992px) */
@media (max-width: 991.98px) {
    #menu-heading {padding-bottom: 0}
    #timeline > article {
        padding: var(--bs-body-font-size) 2rem;
        background-color: var(--bs-body-bg-alt);
    }
    #timeline .card, 
    #timeline .card img {
        max-width: 100%;
    }
}
