/* REGISTRATION */

.page-registration .main-content {
    padding: calc(var(--bs-body-font-size) * 3) 0;
}
.page-registration .main-content .container {
    max-width: 770px;
    padding: 0 var(--bs-body-font-size);
}
.contact-us .main-content .container {max-width: 820px}
.page-registration .main-content header .heading {
    line-height: 1;
    color: var(--bs-text-blue-800);
    text-transform: uppercase;
    margin-bottom: calc(var(--bs-body-font-size) * 1.5);
}
.page-registration .main-content header .lead {
    font-size: calc(var(--bs-body-font-size) * 1.5);
    font-weight: 300;
    line-height: 1.2;
}
.page-registration .main-content form {
    max-width: 480px;
    margin: calc(var(--bs-body-font-size) * 2) auto 0;
}
.contact-us .main-content form {max-width: none}
.page-registration .main-content form .form-check-input {
    width: calc(var(--bs-body-font-size) * 2);
    height: calc(var(--bs-body-font-size) * 2);
    margin-top: 0;
    margin-right: var(--bs-body-font-size);
    --bs-form-check-bg: var(--bs-input-bg);
}

.main-content .arrows {
    position: relative;
}
.main-content .arrows:before,
.main-content .arrows:after {
    content: '';
    position: absolute;
    width: 140px; height: 280px;
    background-repeat: no-repeat;
    background-position: center;
}
.main-content .arrows:before {
    bottom: 0; 
    left: -20%;
    background-image: url(../../../assets/images/arrow-left.svg);
}
.main-content .arrows:after {
    top: 0; 
    right: -20%;
    background-image: url(../../../assets/images/arrow-right.svg);
}

@media (min-width: 1400px) {
    .page-registration .main-content {
        padding: 80px 0;
    }
    .main-content .arrows:before {left: -40%}
    .main-content .arrows:after {right: -40%}
}

@media (max-width: 991.98px) {
    .main-content .arrows:before,
    .main-content .arrows:after {display: none}
}
@media (max-width: 1399.98px) {
    .main-content .arrows:before,
    .main-content .arrows:after {
        transform: scale(.75);
    }
}
