.filter-bar {
    display: flex;
    align-items: center;
    gap: 20px;
}

#noResults {
    color: red;
    display: none;
    margin-top: 20px;
    font-weight: bold;
    text-align: center;
}
